/*1px=10px*/
/*margin top*/
.mt-5  {margin-top:   5px;}
.mt-10 {margin-top:   10px;}
.mt-15 {margin-top:   15px;}
.mt-20 {margin-top:   20px;}


/*margin right*/


/*margin bottom*/
.mb-5    {margin-bottom: 5px;}
.mb-10    {margin-bottom: 10px;}
.mb-20    {margin-bottom: 20px;}


.mlr-20{margin-left: 20px;margin-right: 20px;}
.mlr-10{margin-left: 10px;margin-right: 10px;}
