
.over-hidden {
  overflow: hidden;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.es-half {
  width: 50%;
}

.pad-10 {
  padding: 10px;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.pf {
  position: fixed;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.clearfix:after {
  content: "\0020";
  display: block;
  clear: both;
  height: 0;
}
