.mint-navbar .mint-tab-item{height: 48px;}
.mint-navbar .mint-tab-item-label{font-size: 14px}
.mint-button.mint-button--default{box-shadow: none}
.header-space{height: 40px;position: relative}
.footer-space{height: 55px;position: relative}

