.btn-orange {
  background: #f70;
  color: #fff;
}
.bottom-full-wrap {
  position: relative;
  z-index: 10;
}
.bottom-full-wrap .mint-button {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 0;
}
