.mint-navbar .mint-tab-item {
  height: 48px;
}
.mint-navbar .mint-tab-item-label {
  font-size: 14px;
}
.mint-button.mint-button--default {
  box-shadow: none;
}
.mint-header.is-fixed {
  z-index: 10;
}
.mint-header {
  background-color: #3b3c40;
}
.v-modal {
  opacity: 0.1;
  background: #fff;
}
.es-full-page {
  height: 100vh;
  width: 100vw;
}
.es-input {
  background: #fff;
  border: solid 1px #e3e3e3;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  width: 100%;
}
.header-space {
  height: 40px;
  position: relative;
  display: block;
}
.footer-space {
  height: 55px;
  position: relative;
  display: block;
}
.es-search-wrap {
  padding: 8px 10px;
  background: #f7f7f7;
  line-height: 30px;
}
.es-search-wrap .fa-search {
  position: absolute;
  line-height: 30px;
  left: 5px;
  top: 0;
  color: #999;
}
.es-search-wrap .es-input {
  padding-left: 20px;
}
.es-single-link {
  padding: 0;
  margin-bottom: 10px;
  background: #fff;
}
.es-single-link .mint-cell {
  background: #fff;
  padding: 0 10px;
}
.es-single-link .mint-cell-wrapper {
  line-height: 47px;
  background: #fff;
  padding-left: 0;
}
.es-link-list {
  background: #fff;
  padding: 0;
}
.es-link-item .mint-cell {
  padding: 0 10px;
  padding-right: 0;
}
.es-link-item .mint-cell-wrapper {
  border-bottom: solid 1px #eee;
  padding-left: 0;
}
.es-link-item:last-child .mint-cell {
  background: none;
}
.es-link-item:last-child .mint-cell-wrapper {
  border-bottom: none;
}
.es-link-item:first-child .mint-cell-wrapper {
  background: none;
}
.es-tip-row {
  height: 48px;
  line-height: 48px;
  background: #f0eff5;
  padding: 0 10px;
  color: #aaa;
}
.es-page-infinite-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
}
.es-page-infinite-loading {
  text-align: center;
  line-height: 50px;
  height: 50px;
  color: #0099e9;
}
.es-page-infinite-loading .mint-spinner-fading-circle-circle,
.es-page-infinite-loading .mint-spinner-fading-circle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.es-page-infinite-loading .mint-spinner-fading-circle-circle:before {
  background-color: #0099e9;
}
