.over-hidden {
  overflow: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.inline-block {
  display: inline-block;
}
.es-half {
  width: 50%;
}
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.pf {
  position: fixed;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon {
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.clearfix:after {
  content: "\0020";
  display: block;
  clear: both;
  height: 0;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mlr-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.mtb-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.pad-0 {
  padding: 0px;
}
.padt-0 {
  padding-top: 0px;
}
.padb-0 {
  padding-bottom: 0px;
}
.padl-0 {
  padding-left: 0px;
}
.padr-0 {
  padding-right: 0px;
}
.padlr-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.padtb-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mtb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.pad-5 {
  padding: 5px;
}
.padt-5 {
  padding-top: 5px;
}
.padb-5 {
  padding-bottom: 5px;
}
.padl-5 {
  padding-left: 5px;
}
.padr-5 {
  padding-right: 5px;
}
.padlr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.padtb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mlr-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pad-10 {
  padding: 10px;
}
.padt-10 {
  padding-top: 10px;
}
.padb-10 {
  padding-bottom: 10px;
}
.padl-10 {
  padding-left: 10px;
}
.padr-10 {
  padding-right: 10px;
}
.padlr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padtb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mlr-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.pad-15 {
  padding: 15px;
}
.padt-15 {
  padding-top: 15px;
}
.padb-15 {
  padding-bottom: 15px;
}
.padl-15 {
  padding-left: 15px;
}
.padr-15 {
  padding-right: 15px;
}
.padlr-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.padtb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mlr-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pad-20 {
  padding: 20px;
}
.padt-20 {
  padding-top: 20px;
}
.padb-20 {
  padding-bottom: 20px;
}
.padl-20 {
  padding-left: 20px;
}
.padr-20 {
  padding-right: 20px;
}
.padlr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padtb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-25 {
  margin-left: 25px;
}
.mr-25 {
  margin-right: 25px;
}
.mlr-25 {
  margin-left: 25px;
  margin-right: 25px;
}
.mtb-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.pad-25 {
  padding: 25px;
}
.padt-25 {
  padding-top: 25px;
}
.padb-25 {
  padding-bottom: 25px;
}
.padl-25 {
  padding-left: 25px;
}
.padr-25 {
  padding-right: 25px;
}
.padlr-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.padtb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mlr-30 {
  margin-left: 30px;
  margin-right: 30px;
}
.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.pad-30 {
  padding: 30px;
}
.padt-30 {
  padding-top: 30px;
}
.padb-30 {
  padding-bottom: 30px;
}
.padl-30 {
  padding-left: 30px;
}
.padr-30 {
  padding-right: 30px;
}
.padlr-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.padtb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.border-0 {
  border: 0px;
}
.bordert-0 {
  border-top: 0px;
}
.borderb-0 {
  border-bottom: 0px;
}
.borderl-0 {
  border-left: 0px;
}
.borderr-0 {
  border-right: 0px;
}
.borderlr-0 {
  border-left: 0px;
  border-right: 0px;
}
.bordertb-0 {
  border-top: 0px;
  border-bottom: 0px;
}
.border-1 {
  border: 1px;
}
.bordert-1 {
  border-top: 1px;
}
.borderb-1 {
  border-bottom: 1px;
}
.borderl-1 {
  border-left: 1px;
}
.borderr-1 {
  border-right: 1px;
}
.borderlr-1 {
  border-left: 1px;
  border-right: 1px;
}
.bordertb-1 {
  border-top: 1px;
  border-bottom: 1px;
}
.border-2 {
  border: 2px;
}
.bordert-2 {
  border-top: 2px;
}
.borderb-2 {
  border-bottom: 2px;
}
.borderl-2 {
  border-left: 2px;
}
.borderr-2 {
  border-right: 2px;
}
.borderlr-2 {
  border-left: 2px;
  border-right: 2px;
}
.bordertb-2 {
  border-top: 2px;
  border-bottom: 2px;
}
.border-3 {
  border: 3px;
}
.bordert-3 {
  border-top: 3px;
}
.borderb-3 {
  border-bottom: 3px;
}
.borderl-3 {
  border-left: 3px;
}
.borderr-3 {
  border-right: 3px;
}
.borderlr-3 {
  border-left: 3px;
  border-right: 3px;
}
.bordertb-3 {
  border-top: 3px;
  border-bottom: 3px;
}
